  /**{
    background-image: url("background_main.jpg");*/
  *{
   margin-left: 25px;
 }
body {
  margin:0;
}

/*.navbar-brand {
  text-transform: uppercase;
}*/
.navbar {
  background: #ffffff;
  margin-bottom: 0;
  margin-right: 25px;
}
  .slider-nav {
  color: RGB(105, 114, 121);
  text-align: center;
}

/*.slider-nav > .on {
  color: black;
}*/

html, body {
  width: 100%;
  height: 100%;
}

/*body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-sarif;
  background-color: white;*/
}
